.button {
  font-family: $ff-roboto-condensed;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-flex;
  color: $color-default-white;

  cursor: pointer;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
