.coaches {
  min-height: 530px;
  background-color: $color-default-white;
  font-family: $ff-roboto-condensed;

  @include vp-767 {
    min-height: 450px;
  }
}

.coaches__wrapper {
  position: relative;
  margin: 0 auto;
  padding: 76px 0 105px 0;
  width: 100%;

  @include vp-1199 {
    padding-bottom: 91px;
  }

  @include vp-767 {
    width: 100%;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 50px;
  }
}

.coaches__title {
  font-family: $ff-alumni-sans;
  font-size: 54px;
  letter-spacing: 1.62px;
  margin: 0;
  margin-bottom: 68px;
  padding-left: 4px;

  @include vp-1199 {
    font-size: 42px;
    text-align: center;
    margin-bottom: 45px;
    padding: 0;
  }

  @include vp-767 {
    font-size: 32px;
    letter-spacing: 0.96px;
    margin-bottom: 50px;
  }
}

.coaches__slider {
  position: relative;

  @include vp-1199 {
    width: 83.5%;
    margin: 0 auto;
  }

  @include vp-767 {
    width: 77.6%;
    min-height: 294px;
    margin: 0 auto;
  }
}

.coaches__button {
  position: absolute;
  top: 0;
  padding: 10px 9px 9px 5px;
  width: 56px;
  height: 56px;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;

  &--prev {
    right: 0;
  }

  &--next {
    left: 0;
    transform: rotate(180deg);
  }

  &:hover,
  &:focus {
    border: 1px solid $color-sapphire;
  }

  &:active {
    background-color: $color-sapphire;
  }

  @include vp-1199 {
    top: -14%;

    &--prev {
      right: -52px;
    }

    &--next {
      left: -52px;
    }
  }

  @include vp-767 {
    top: 38%;
    width: 32px;
    height: 32px;
    padding: 6px 6px 6px 3px;

    &--prev {
      right: -35px;
    }

    &--next {
      left: -37px;
    }
  }
}

.coaches__button:active .coaches__button-icon {
  stroke: $color-default-white;
}

.coaches__button:disabled .coaches__button-icon {
  fill: rgba($color-sapphire, 0.3);
}

.coaches__button-icon {
  stroke: #afafaf;
  fill: $color-transparent;

  @include vp-767 {
    width: 10px;
    height: 19px;
  }
}

.coaches__list {
  width: 100%;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.coaches__item {
  position: relative;
  margin: 0;
  color: $color-default-white;

  &:hover > .coaches__info {
    display: block;
  }

  &:focus > .coaches__info {
    display: block;
  }

  @include vp-1199 {
    width: 268px;
  }

  @include vp-767 {
    width: 100%;
    min-height: 274px;
  }
}

.coaches__image {
  width: 100%;
  margin: 0 auto;
  background-color: $color-gray;
}

.coaches__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  @include vp-767 {
    min-height: 274px;
  }
}

.coaches__item-title {
  font-size: 18px;
  line-height: 150%;
  position: absolute;
  bottom: 4px;
  left: 78px;

  &--lavrov {
    left: 69px;
  }

  @include vp-1199 {
    bottom: 1.5%;
    left: 31.9%;
  }
}

.coaches__info {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 51px 57px 45px 57px;
  background-color: rgba(16, 38, 84, 0.89);
  color: $color-default-white;
  overflow-y: auto;
  overflow-x: hidden;

  @include vp-1199 {
    padding: 50px 63px 46px 55px;
  }

  @include vp-767 {
    padding: 43px 39px 27px 39px;
  }
}

.coaches__item:hover .coaches__info-achivements-item--one,
.coaches__item:focus .coaches__info-achivements-item--one {
  &::before {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    background-color: $color-default-white;
    border-radius: 50%;
    top: 9px;
    left: -2px;

    @include vp-767 {
      left: -3.6%;
    }
  }
}

.coaches__item:hover .coaches__info-achivements-item--two,
.coaches__item:focus .coaches__info-achivements-item--two {
  &::before {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    background-color: $color-default-white;
    border-radius: 50%;
    bottom: 64px;
    left: -2px;

    @include vp-767 {
      left: -3.6%;
    }
  }
}

.coaches__item:hover .coaches__info-achivements-item--three,
.coaches__item:focus .coaches__info-achivements-item--three {
  &::before {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    background-color: $color-default-white;
    border-radius: 50%;
    bottom: 10px;
    left: -2px;

    @include vp-767 {
      left: -3.6%;
      bottom: 9px;
    }
  }
}

.coaches__item:hover .coaches__item-title,
.coaches__item:focus .coaches__item-title {
  display: none;
}

.coaches__info-title {
  text-align: center;
  font-size: 18px;
  line-height: 150%;
  margin: 0;
}

.coaches__info-feature {
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  display: block;
  margin-top: -4px;
  margin-bottom: 33px;
}

.coaches__info-achivements {
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 15px;
  width: 165px;
  list-style: none;
  font-size: 14px;
  line-height: 150%;
  display: flex;
  flex-direction: column;
  row-gap: 14px;

  @include vp-767 {
    padding-left: 10px;
    row-gap: 13px;
  }
}
