.contacts {
  width: 50%;
  background-color: $color-default-white;
  color: $color-sapphire;
  border-top: 1px solid #74819c;

  @include vp-1199 {
    width: 100%;
    border: none;
    min-height: 351px;
  }

  @include vp-767 {
    min-height: 507px;
  }
}

.contacts__wrapper {
  width: 100%;
  max-width: 676px;
  padding: 46px 124px 60px 122px;
  margin-right: auto;

  @include vp-1199 {
    width: 86.5%;
    max-width: 1160px;
    padding: 53px 16px 63px 81px;
    margin: 0 auto;
  }

  @include vp-767 {
    width: 100%;
    padding: 57px 31px 59px 15px;
  }
}

.contacts__title {
  position: relative;
  width: 100%;
  font-family: $ff-alumni-sans;
  text-transform: capitalize;
  font-size: 54px;
  font-weight: 600;
  line-height: 156%;
  letter-spacing: 1.35px;
  margin: 0;
  margin-bottom: 27px;
  margin-left: -2px;

  @include vp-1199 {
    font-size: 42px;
    margin-bottom: 29px;

    &::after {
      height: 129px;
      top: 100px;
      left: 47.4%;
    }
  }

  @include vp-767 {
    font-size: 32px;
    letter-spacing: 0.96px;
    margin-bottom: 31px;

    &::after {
      display: none;
    }
  }
}

.contacts__list {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr;
  row-gap: 16px;
  column-gap: 74px;

  &::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 90%;
    background-color: #74819c;
    top: 7px;
    left: 53%;
  }

  @include vp-1199 {
    row-gap: 19px;
    column-gap: 30px;
    grid-template-columns: 50% 50%;

    &::after {
      left: 47%;
    }
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    row-gap: 22px;

    &::after {
      display: none;
    }
  }
}

.contacts__item {
  font-family: $ff-roboto-condensed;

  &--schedule {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}

.contacts__item-title {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 3px;

  &--phone {
    padding-bottom: 2px;
  }

  &--email {
    padding-bottom: 2px;
  }

  @include vp-1199 {
    font-size: 20px;
    padding-bottom: 9px;
  }
}

.contacts__text {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 152.34%;

  @include vp-1199 {
    font-size: 18px;
  }
}
