.event {
  min-height: 670px;
  background-color: $color-default-white;
  padding-top: 120px;

  @include vp-1199 {
    padding-top: 100px;
    min-height: 430px;
  }

  @include vp-767 {
    padding-top: 69px;
  }
}

.event__wrapper {
  display: grid;
  grid-template-columns: 43.1% 1fr;

  @include vp-767 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.event__description {
  background-color: $color-torch-red;
  font-family: $ff-roboto-condensed;
  color: $color-default-white;
  padding: 86px 15.7% 83px;
  box-sizing: border-box;
  flex-shrink: 1;

  @include vp-1199 {
    padding: 49px 15% 50px;
  }

  @include vp-767 {
    width: 100%;
    margin: 0 auto;
    padding: 50px 15%;
  }
}

.event__description-wrapper {
  display: flex;
  column-gap: 50px;

  @include vp-1199 {
    column-gap: 32px;
  }
}

.event__title {
  width: 70%;
  font-family: $ff-alumni-sans;
  font-size: 82px;
  font-style: normal;
  font-weight: 600;
  line-height: 96%;
  letter-spacing: 2.46px;
  margin: 0;
  text-transform: uppercase;
  padding-left: 13px;

  @include vp-1199 {
    font-size: 48px;
    padding-left: 3.7%;
    letter-spacing: 1.44px;
  }
}

.event__info {
  width: 95px;
  padding-left: 2px;
}

.event__subtitle {
  position: relative;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;

  &::after {
    position: absolute;
    content: "";
    width: 180%;
    height: 1px;
    background-color: $color-default-white;
    bottom: -9px;
    left: 0;
  }

  @include vp-1199 {
    font-size: 12px;

    &::after {
      bottom: -3px;
    }

    &--time {
      margin-bottom: 5px;
    }
  }
}

.event__date {
  width: 100%;
  margin: 0;
  margin-top: -7px;
}

.event__date-info {
  display: flex;
  flex-wrap: wrap;
}

.event__date-month {
  padding-top: 11px;
  margin-left: -3px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;

  @include vp-1199 {
    font-size: 10px;
    padding-top: 0;
    margin-top: -0.7%;
  }
}

.event__value {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin-right: 10px;

  @include vp-1199 {
    display: block;
    font-size: 24px;
    margin-right: 7px;
    margin-top: -4px;
  }
}

.event__time {
  margin: 0;
  margin-top: 10px;

  @include vp-1199 {
    margin-top: -4px;
  }
}

.event__text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-top: 10px;
  margin-bottom: 45px;

  @include vp-1199 {
    font-size: 12px;
    margin-bottom: 30px;
    margin-top: 1px;
  }
}

.event__button {
  position: relative;
  width: 100%;
  min-height: 67px;
  padding: 24px 33%;
  font-size: 12px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  border: 4px solid $color-default-white;
  box-sizing: border-box;
  background-color: $color-transparent;
  user-select: none;
  font-family: $ff-roboto-condensed;
  font-weight: 700;
  color: $color-default-white;

  &:hover,
  &:focus-visible {
    color: $color-egyptian-blue;
    background-color: $color-default-white;
  }

  &:focus {
    outline: none;
  }

  &:active {
    color: $color-sapphire;
    background-color: $color-default-white;
  }

  &:disabled {
    color: rgba($color-default-white, 0.5);
    background-color: $color-transparent;
    outline: 4px solid rgba($color-default-white, 0.5);
    border: none;
  }

  @include vp-1199 {
    font-size: 10px;
    padding: 14px 24.5%;
    min-height: 39px;
    border: 2px solid $color-default-white;
  }
}

.event__image {
  max-width: 660px;
  background-color: $color-sapphire;

  @include vp-767 {
    max-width: 100%;
  }
}

.event__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
