.form {
  width: 100%;
}

.form__inputs-wrapper {
  display: flex;
  column-gap: 28px;

  @include vp-1199 {
    column-gap: 60px;
  }

  @include vp-767 {
    flex-direction: column;
    padding-top: 5px;
    row-gap: 8px;
  }
}

.form__name {
  width: 50%;
}

.form__phone {
  width: 50%;
}

.form__input-wrapper input {
  position: relative;
  font-family: $ff-roboto-condensed;
  background-color: $color-transparent;
  border: none;
  color: $color-default-white;
  min-height: 47px;
  width: 100%;
  padding: 21px 50px 5px 0;
  box-sizing: border-box;
  border-bottom: 1px solid #74819c;

  &::placeholder {
    color: $color-default-white;
    font-size: 14px;
  }

  @include vp-1199 {
    padding-top: 28px;
  }

  @include vp-767 {
    width: 200%;
    padding-top: 28px;
    border-bottom: 1px solid #74819c;
  }
}

.form__submit {
  width: 100%;
  border: 3px solid $color-default-white;
  background-color: $color-transparent;
  color: $color-default-white;
  font-family: $ff-roboto-condensed;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.7px;
  padding: 17px 38%;
  margin-top: 26px;
  cursor: pointer;

  @include vp-1199 {
    margin-top: 29px;
  }

  @include vp-767 {
    margin-top: 38px;
    padding: 17px 35%;
  }
}
