.guest-visit {
  width: 50%;
  min-height: 336px;
  box-sizing: border-box;
  background-color: $color-sapphire;
  color: $color-default-white;

  @include vp-1199 {
    width: 100%;
    min-height: 324px;
  }

  @include vp-767 {
    min-height: 386px;
  }
}

.guest-visit__wrapper {
  width: 100%;
  max-width: 677px;
  padding: 55px 168px 68px 97px;
  margin-left: auto;

  @include vp-1199 {
    margin: 0 auto;
    max-width: 1160px;
    padding: 54px 162px 68px 131px;
  }

  @include vp-767 {
    padding: 56px 14px 69px 15px;
  }
}

.guest-visit__title {
  font-family: $ff-alumni-sans;
  text-transform: initial;
  font-size: 54px;
  line-height: 156%;
  letter-spacing: 2.4px;
  margin: 0;
  -webkit-text-stroke: 1px $color-default-white;

  @include vp-1199 {
    font-size: 42px;
    letter-spacing: 1.52px;
  }

  @include vp-767 {
    font-size: 32px;
    letter-spacing: 0.96px;
  }
}
