.reviews__wrapper {
  position: relative;
  background-color: $color-default-white;
  color: $color-sapphire;
  font-family: $ff-alumni-sans;
  font-style: normal;
  padding: 118px 0;
  min-height: 584px;

  @include vp-1199 {
    padding: 91px 0 100px 0;
    min-height: 524px;
  }

  @include vp-767 {
    padding: 64px 0 60px 0;
    min-height: 549px;
  }
}

.reviews__slider {
  position: relative;
  width: 48.2%;
  margin: 0 auto;

  @include vp-1199 {
    width: 83.5%;
  }

  @include vp-767 {
    width: 78%;
  }
}

.reviews__title {
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.62px;
  text-align: center;
  margin-bottom: 39px;
  margin-top: 0;

  @include vp-1199 {
    font-size: 42px;
    margin-bottom: 41px;
  }

  @include vp-767 {
    font-size: 32px;
    letter-spacing: 0.96px;
    margin-bottom: 42px;
  }
}

.reviews__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.reviews__item {
  position: relative;
  width: 100%;
  min-height: 242px;
  margin: 0 auto;
  font-family: $ff-roboto-condensed;
  background-color: $color-resolution-blue;
  color: $color-default-white;
  padding: 54px 8% 35px 9.6%;
  box-shadow: 0 0 40px rgba(28, 51, 116, 0.2);
  box-sizing: border-box;
  display: flex;

  @include vp-767 {
    width: 100%;
    padding: 49px 8% 33px 12%;
  }
}

.reviews__avatar {
  width: 17.5%;
  height: 80px;
  border-radius: 50%;
  background-color: $color-sapphire;
  margin-right: 29px;
  margin-top: 8px;
  margin-left: 8px;

  @include vp-1199 {
    margin-right: 27px;
    margin-top: 7px;
    margin-left: 10px;
  }

  @include vp-767 {
    width: 30.1%;
    height: 68px;
    position: absolute;
    margin: 0;
    top: 40px;
    left: 41px;
  }
}

.reviews__avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reviews__text-wrapper {
  width: 72.3%;

  @include vp-1199 {
    width: 71%;
  }

  @include vp-767 {
    width: 95%;
  }
}

.reviews__author {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin: 0;
  margin-bottom: 11px;

  @include vp-767 {
    width: 44%;
    line-height: 130%;
    margin-left: auto;
    margin-bottom: 22px;
  }
}

.reviews__text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin: 0;

  @include vp-767 {
    text-align: center;
  }
}

.reviews__button {
  position: absolute;
  top: 46px;
  width: 56px;
  height: 56px;
  padding: 10px 10px 10px 5px;
  border-radius: 50%;
  background-color: $color-transparent;
  border: none;

  &--prev {
    left: 800%;
  }

  &--next {
    transform: rotate(180deg);
    right: 800%;
  }

  &:hover,
  &:focus {
    border: 1px solid $color-sapphire;
  }

  &:active {
    background-color: $color-sapphire;
  }

  @include vp-1199 {
    top: 34px;

    &--prev {
      left: -93%;
    }

    &--next {
      left: 0;
    }
  }

  @include vp-767 {
    width: 32px;
    height: 32px;
    padding: 6px;
    top: 43px;

    &--prev {
      left: -79%;
    }

    &--next {
      left: 60%;
    }
  }
}

.reviews__button:active .reviews__button-icon {
  stroke: $color-default-white;
}

.reviews__button-icon {
  stroke: $color-sapphire;
  fill: $color-transparent;

  @include vp-767 {
    width: 10px;
    height: 19px;
  }
}
