.subscription {
  min-height: 851px;
  background-color: $color-ghost-white;
  color: $color-sapphire;
  padding: 120px 0;
  box-sizing: border-box;

  @include vp-1199 {
    padding: 100px 0;
  }

  @include vp-767 {
    padding: 63px 0 71px 0;
  }
}

.subscription__programs {
  position: relative;
  z-index: 1;

  @include vp-767 {
    width: 100%;
  }
}

.subscription__wrapper {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;

  @include vp-767 {
    width: 100%;
  }
}

.subscription__title {
  font-family: $ff-alumni-sans;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.62px;
  width: 20%;
  margin: 0 auto;
  margin-bottom: 5px;

  @include vp-1199 {
    font-size: 42px;
    letter-spacing: 1.26px;
    width: 179px;
    margin-bottom: 8px;
  }

  @include vp-767 {
    font-size: 32px;
    letter-spacing: 0.96px;
    width: 47%;
    margin-bottom: 8px;
  }
}

.subscription__controls {
  position: relative;
  margin: 0 auto;
  margin-bottom: 23px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  gap: 0 46px;
  padding-bottom: 14px;

  &::after {
    content: "";
    position: absolute;
    bottom: 14px;
    width: 100%;
    height: 2px;
    background-color: rgba(120, 120, 120, 0.2);
  }

  @include vp-1199 {
    width: 332px;
    column-gap: 54px;
    margin-bottom: 44px;
    padding-bottom: 0;

    &::after {
      bottom: 0;
    }
  }

  @include vp-767 {
    width: 100%;
    max-width: 290px;
    margin: 0 auto;
    column-gap: 45px;
    margin-bottom: 35px;
  }
}

.subscription__control {
  position: relative;
  font-family: $ff-roboto-condensed;
  border: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding: 13px 0;
  background-color: $color-ghost-white;
  color: rgba($color-sapphire, 0.5);
  cursor: pointer;
  user-select: none;

  &.is-active::before {
    position: absolute;
    content: "";
    height: 2px;
    background-color: $color-torch-red;
    bottom: -14px;
    left: -1px;
    right: 0;
  }

  &.is-active,
  &:not([disabled]):hover,
  &:focus,
  &:active {
    color: $color-sapphire;

    &::before {
      position: absolute;
      content: "";
      height: 2px;
      background-color: $color-torch-red;
      bottom: 0;
      left: -1px;
      right: 0;
    }
  }

  &:disabled {
    color: rgba($color-sapphire, 0.3);
    pointer-events: none;
  }

  @include vp-1199 {
    font-size: 18px;
  }

  @include vp-767 {
    font-size: 16px;

    &.is-active::before {
      width: 114%;
    }
  }
}

.subscription__list {
  font-family: $ff-roboto-condensed;
  display: grid;
  grid-template-columns: repeat(3, minmax(305px, 100%));
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0 auto;

  @include vp-1199 {
    grid-template-columns: 1fr;
    row-gap: 40px;
    width: 100%;
  }

  @include vp-767 {
    row-gap: 35px;
  }

  &:not(.is-active) {
    display: none;
  }
}

.subscription__item {
  position: relative;
  min-height: 448px;
  background: $color-default-white;
  border: 7px solid $color-default-white;
  padding: 59px 17.9%;
  box-sizing: border-box;
  text-align: center;

  &:hover {
    border: 7px solid $border-gradient;
    border-image: $border-gradient;
    border-image-slice: 7;
  }

  @include vp-1199 {
    width: 65%;
    padding: 33px 5.9%;
    margin: 0 auto;
  }

  @include vp-767 {
    width: 100%;
    padding: 45px 10.2%;
    min-height: 384px;
  }
}

.subscription__item-title {
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  margin: 0;
  margin-bottom: 13px;

  @include vp-1199 {
    margin-top: 25px;
  }

  @include vp-767 {
    font-size: 22px;
    font-weight: 700;
    line-height: 110.15%;
    margin-top: 0;
    margin-bottom: 10px;
  }
}

.subscription__price {
  position: relative;
  color: $color-egyptian-blue;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  width: 100%;
  margin: 0;
  margin-bottom: 33px;
  padding-left: 2.5%;
  z-index: 1;

  &::before {
    position: absolute;
    content: attr(data-price);
    font-family: $ff-roboto-condensed;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    color: $color-gray;
    top: -55px;
    left: 0;
    z-index: -1;
    width: 100%;

    @include vp-767 {
      font-size: 80px;
      top: -45px;
      left: 21px;
    }
  }

  @include vp-767 {
    font-size: 48px;
    margin-bottom: 30px;

    &::before {
      width: 83%;
    }
  }
}

.subscription__price-icon {
  width: 43px;
  height: 42px;
  margin-left: -5px;

  @include vp-767 {
    width: 34px;
    height: 33px;
  }
}

.subscription__text {
  margin: 0;
  margin-bottom: 66px;

  @include vp-767 {
    margin-bottom: 54px;
  }
}

.subscription__button {
  display: block;
  margin: 0 auto;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  width: 94.4%;
  min-height: 64px;
  padding: 24px 10%;
  background: $color-transparent;
  color: $color-sapphire;
  border: 2px solid $color-sapphire;
  user-select: none;

  &:hover,
  &:focus {
    background: $button-gradient;
    color: $color-default-white;
    border: none;
  }

  &:active {
    background: $button-gradient;
    color: rgba($color-default-white, 0.25);
    border: none;
  }

  &:disabled {
    background: $color-transparent;
    color: rgba($color-sapphire, 0.3);
    border: 2px solid rgba($color-sapphire, 0.3);
  }

  @include vp-1199 {
    width: 60%;
  }

  @include vp-767 {
    width: 95%;
    padding: 24px 10%;
  }
}

.subscription__item:hover .subscription__button,
.subscription__item:focus .subscription__button {
  background: $button-gradient;
  color: $color-default-white;
  border: none;
}

.subscription__image {
  position: relative;
}

.subscription__image img {
  position: absolute;
  right: -18.17%;
  top: -170px;
  z-index: 0;
  transform: rotate(-29.5deg);

  @include vp-1199 {
    top: -168px;
    width: 289px;
    height: 345px;
    right: -8%;
  }

  @include vp-767 {
    display: none;
  }
}
